* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url("/img/personal/background.jpg");
  font-family: sans-serif;
  color: white;
}

/* Main */
main {
  flex: 1;
  color: white;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

main > section {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 3rem;
  max-width: 150rem;
  color: white;
  padding: 0.5rem;
  margin: auto;
}

section h1 {
  font-size: 2rem;
  margin: 1rem;
  color: #ffffff;
  text-align: center;
}

/* Nav */
.logo {
  display: flex;
  width: 180px;
  height: auto;
}

.h-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav {
  background-color: rgba(243, 244, 246, 0.4);
  color: white;
  font-weight: bold;
  border-radius: 9999px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  margin-right: 2rem;
  padding: 0.5rem 1rem;
}

.menu-toggle {
  display: none;
  font-size: 2.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

nav ul {
  display: flex;
  gap: 0;
  padding: 0.5rem;
  list-style: none;
}

nav ul li a {
  display: block;
  padding: 0.3rem 1rem;
  border-radius: 9999px;
  color: inherit;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

nav ul li a:hover {
  background-color: rgba(209, 213, 219, 0.3);
  transition-duration: 0.7s;
}

/* Equipo */
.layout-nosotros {
  display: flex;
  margin-top: 2rem;
}

.main-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 24rem;
  font-size: 1.1rem;
  line-height: 1.6;
  margin-left: 4.5rem;
  margin-top: 1rem;
}

.nosotros-section {
  max-width: 70rem;
  margin: 0 auto;
}

.persona {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15rem;
  margin-top: 1rem;
}

.persona img {
  width: 70%;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
}

h4 {
  margin-top: 0.5rem;
}

.descripcion {
  display: none;
  text-align: center;
  margin: 1rem;
  font-size: 1rem;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.625rem rgba(59, 59, 59, 0.05);
}

.equipo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

/* Botones */
.persona button {
  font-size: 1rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
}
.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.75rem 2rem;
  background-color: #ffffff22;
  color: white;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 999px;
  text-decoration: none;
  transition: 0.3s ease, transform 0.2s ease;
  width: 70%;
}

.btn:hover {
  background-color: #ffffff44;
  transform: scale(1.05);
}

/* Footer */
footer {
  margin-top: auto;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 0.5rem 0;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

footer p {
  margin-right: 2rem;
}

/* Responsive */
@media (max-width: 1017px) {
  html,
  body {
    background-color: black;
    background-image: none;
  }
  header {
    padding: 0;
  }

  .h-mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .menu-toggle {
    display: block;
    margin: 1rem;
  }

  nav.menu {
    display: none;
    width: 100%;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  nav.menu.active {
    display: block;
    margin: 0;
    padding: 0;
  }

  nav.menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  nav.menu ul li {
    width: 100%;
    text-align: center;
  }

  nav.menu ul li a {
    display: block;
    width: 100%;
    padding: 1rem;
    border-top: 2px solid rgba(255, 9, 9, 0.7);
    border-bottom: 2px solid rgba(255, 9, 9, 0.7);
    border-radius: 0;
  }

  footer {
    justify-content: center;
  }
  .nosotros-section {
    padding: 0;
  }
  .main-data {
    margin-left: 1.5rem;
    justify-content: flex-start;
    font-size: 1rem;
  }
}
