* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("./img/personal/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: sans-serif;
  color: white;
  position: relative;
  z-index: 0;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Sombra oscura */
  z-index: -1;
}
.redes-sociales-header {
    position: absolute;
    top: 3.5rem;
    right: 1rem;
    z-index: 9999; /* Asegura que esté encima de todo */
  margin: 1.5rem 2.8rem 0 0;
}
.redes-sociales-header a {
  margin: .5rem;
}
.redes-sociales-header a:hover {
  filter: brightness(0) invert(0.7) sepia(1) saturate(5) hue-rotate(200deg);
  cursor: pointer;
}
/* Nav */
.logo-wrapper {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 9999; /* Asegura que esté encima de todo */
}
.logo {
  
  display: flex;
  width: 160px;
  height: 160px;
  margin-left: 2rem;
}

.h-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 4.5rem;
}
.menu- {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 70rem;
  background-color: rgba(243, 244, 246, 0.4);
  color: white;
  font-weight: bold;
  border-radius: 9999px;
  padding: 0.1rem;
}
/* Botón hamburguesa */
.menu-toggle {
  display: none;
  font-size: 2.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* Estilo del menú oculto por defecto */

/* Lista en nav */
nav ul {
  display: flex;
  gap: 2;
  padding: 0.5rem;
  list-style: none;
}

/* Links */
nav ul li a {
  display: block;
  padding: 0.3rem 1rem;
  border-radius: 9999px;
  color: inherit;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

/* Hover efecto */
nav ul li a:hover {
  background-color: rgba(209, 213, 219, 0.3);
  transition-duration: 700ms;
}
main {
margin-top: 2rem;
  display: flex;
  flex-direction: column;
  flex:1;
}

/* Footer */
footer {
  text-align: right;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 0.5rem 0;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}
footer p {
  margin-right: 2rem;
}

@media (max-width: 1017px) {
  /* Responsive Header, lo que me llevo hacer esto, no tenes una idea jaja*/
  .logo-wrapper {
    position: absolute;
    top: 2.5rem;
    left: -1.5rem;
    z-index: 9999;
  }
  .logo { 
    display: flex;
    width: 100px;
    height: 100px;
    margin-left: 2rem;
  }

  .redes-sociales-header {
    right: 50%;
    transform: translateX(50%);
    top: 2rem;
    margin: 0;
  }
  .h-mobile {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    background-color: none;
  }

  .menu- {
    border-radius:0;
    background-color: rgba(243, 244, 246, 0)
  }
  .menu-toggle {
    display: block;
    margin: 0 1rem 0 0;
  }

  .menu {
    display: none;
    width: 100%;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  nav.menu.active {
    display: block;
    margin: 0;
    padding: 0;
    margin-top: 2rem;
  }

  nav.menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  nav.menu ul li {
    width: 100%;
    text-align: center;
  }

  nav.menu ul a {
    display: block;
    width: 100%;
    padding: 1rem;
    border-top: 2px solid rgba(255, 9, 9, 0.7);
    border-radius: 0;
  }
  nav.menu ul :nth-child(4) {

    border-bottom: 2px solid rgba(255, 9, 9, 0.7);
  }
  /* Termino el estilo del header */
  footer p {
    text-align: center;
    margin: 0;
  }
}
